* { box-sizing: border-box; list-style: none;}
.App {
  text-align: center;  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-router{
  margin: 10px;
}

.main-container{
  display: flex;
  align-items: center;
  width: 50%;
  min-height: 800px;
  max-height: 100vh;
}
.aside-nav{
  min-width: 25%;
  margin-right: 10px;
  min-height: 800px;
}
.container{
  width: 75%;
  min-height: 800px;
}
